---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Labs completed so far:</h1>
  <p class="doc">
    <%= link_to "Blackjack", "https://github.com/benjaminedwardparker/blackjack/blob/master/playblackjack.rb" %>
    <%= link_to "Planet Express", "https://github.com/benjaminedwardparker/iron_day5" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
